/* .product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
} */
/* .product {
  width: 270px;
  margin: 20px 0;
  background-color: #fff;
} */
.product-img {
  width: 270px;
}
.product-card {
  padding: 5px 10px;
}
.product-card img {
  width: 60px;
}
.price {
  font-size: 25px;
  color: #cf0010;
  font-weight: bold;
}

/* @media only screen and (max-width: 1070px) {

  .product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
}

@media only screen and (max-width: 750px) {

  .product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
} */

@media only screen and (max-width: 600px) {
  /* .product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  } */
  .product-img {
    width: 230px;
  }
}

@media only screen and (max-width: 450px) {
  .product-img {
    width: 10em;
  }
}

@media only screen and (max-width: 300px) {
  /* .product-list {
    display: grid;
    grid-template-columns: 1fr;
  } */
  .product-img {
    width: 260px;
  }

}
