.product-img {
  width: 270px;
}
.product-card {
  padding: 5px 10px;
}
.product-card img {
  width: 60px;
}
.price {
  font-size: 25px;
  color: #cf0010;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .product-img {
    width: 230px;
  }
}

@media only screen and (max-width: 450px) {
  .product-img {
    width: 10em;
  }
}

@media only screen and (max-width: 300px) {
  .product-img {
    width: 260px;
  }

}
