
.App {
  margin: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 15px;  
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  gap: 25px;
}
.product {
  width: 270px;
  margin: 20px 0;
  background-color: #fff;
}
.product-card {
  padding: 5px 10px;
}
.product-card img {
  width: 60px;
}
.price {
  font-size: 25px;
  color: #cf0010;
  font-weight: bold;
}

.filters {
  background-color: #fff;
  padding: 10px 10px;
}
.filter-by {
  margin: 20px 5px;
}

.reg-sort {
  margin: 10px 0;
}
.reg-sort select {
  padding: 15px 15px;
  background-color: #fff;
  border: none;
  width: 248px;
}

.filter {
  line-height: 30px;
}
.filter h3 {
  margin-bottom: 5px;
}

.mobile-filter {
  display: none;
}


@media only screen and (max-width: 1070px) {
  .App {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;  
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    gap: 25px;
  }
}
@media only screen and (max-width: 750px) {
  .App {
    display: flex;
    flex-direction: column;
  }
  .reg-filters, .reg-sort {
    display: none;
  }

  .mobile-filter {
    display: flex;
  }
  .sort-filter-strip {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    padding: 0 10px;
    width: 100%;
  }
  .m-filter-btn, .m-sort-dropdown {
    width: 100%;
  }
  .m-filter-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 2px solid #DEDEDE;
  }
  select {
    padding: 15px 15px;
    background-color: #fff;
    border: none;
    width: 100%;
  }
  .filters {
    position: fixed;
    width: 50%;
    left: -100%;
    transition: all .3s;
  }
  .active {
    position: fixed;
    width: 50%;
    left: 0%;
    transition: all .3s;
  }

  
  .product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    gap: 25px;
  }
}


@media only screen and (max-width: 600px) {

  .product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    gap: 15px;
  }

  .product, .product-img {
    width: 230px;
  }

}

@media only screen and (max-width:450px) {

  .product, .product-img {
    width: 10em;
  }

}

@media only screen and (max-width:300px) {

  .product-list {
    display: grid;
    grid-template-columns: 1fr;
  }

  .product, .product-img {
    width: 260px;
  }

  .filters {
    width: 230px;
  }
  .mobile-filter h3 {
    font-size: 14px;
  }

}




